<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
	function onSubmit(token) {
		document.getElementById("powermailform{field.pages.forms.uid}").submit();
	}
</script>

<div class="powermail_fieldwrap powermail_fieldwrap_type_submit powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<div class="{settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">
		<f:if condition="{settings.invisiblerecaptcha.sitekey} != 'abcdef'">
			<f:then>
				<div class="g-recaptcha" data-sitekey="{settings.invisiblerecaptcha.sitekey}"></div>
				<button class="powermail_submit btn btn-primary" data-callback='onSubmit'>{field.title}</button>
			</f:then>
			<f:else>
				<p>
					Please register your domain to
					<a href="https://www.google.com/recaptcha/">https://www.google.com/recaptcha/</a>
					and enter your sitekey in TypoScript Constants like<br />
					plugin.tx_invisiblerecaptcha.sitekey = abcdef
				</p>
			</f:else>
		</f:if>
	</div>
</div>
