<script>
    document.addEventListener('DOMContentLoaded', function(event) {
        document.querySelector('form button[name=g-recaptcha-response]').addEventListener('click', function (event) {
            if (event.target.value) {
                return;
            }

            event.preventDefault();
            grecaptcha.ready(function () {
                grecaptcha.execute(event.target.dataset.googleRecaptchaSitekey, {action: 'submit'}).then(function (token) {
                    event.target.value = token;
                    event.target.click();
                });
            })
        });
    });
</script>