<div class="powermail_fieldwrap powermail_fieldwrap_type_submit powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
    <div class="{settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">
        <f:if condition="{settings.invisiblerecaptcha.sitekey} != 'abcdef'">
            <f:then>
                <button
                        type="submit"
                        name="g-recaptcha-response"
                        class="powermail_submit btn btn-primary g-recaptcha"
                        data-google-recaptcha-sitekey="{settings.invisiblerecaptcha.sitekey}">
                    {field.title}
                </button>
                <script src="https://www.google.com/recaptcha/api.js?render={settings.invisiblerecaptcha.sitekey}" async defer></script>
                <f:render partial="Form/Field/InvisiblerecaptchaJavascript" />
            </f:then>
            <f:else>
                <p>
                    Please register your domain to
                    <a href="https://www.google.com/recaptcha/">https://www.google.com/recaptcha/</a>
                    and enter your sitekey in TypoScript Constants like<br/>
                    plugin.tx_invisiblerecaptcha.sitekey = abcdef
                </p>
            </f:else>
        </f:if>
    </div>
</div>